* {
    margin: 0;
    padding: 0;
}

html,body {
    background: url(../image/bg-wrp.jpg);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #ffffff;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.wrp {
    width: 1000px;
    margin: 0 auto;
}

header {
    margin: 20px 0;
    background: #e5e5e5;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}



.logo a {
    color: #373e47;
    font-size: 24px;
    font-weight: bold;
    margin: 13px 17px 15px;
    display: block;
}

.logo a i {
    font-style: normal;
    margin-left: -5px;
    color: #a45f93;
}

.logo a b {
    color: #8b95a4;
    font-size:18px;
}

nav ul {
    display: flex;
    margin-right: 25px;
}

nav ul li a {
    margin: 20px 34px;
    font-size: 14px;
    font-weight: bold;
    color: #143567;
    display: inline-block;
}

nav ul li a:hover,nav ul li a:active {
    color: #a45f93;
}

.content {
    border-radius: 2px;
    background: url(../image/bg-container.jpg);
    border: 1px solid #67707d;
    padding: 14px 11px;
    display: flex;
    justify-content: space-between;
}

.block-left-cont {
    width: 218px;
}

.block_link,.block-text {
    border: 1px solid #333942;
    background: #373e47;
    border-radius: 2px;
    margin-bottom: 23px;
}

.block_link li {
    margin: 10px 12px;
    
}

hr {
    border: none;
    height: 1px;
    background: #4c545e;
}

.fa-caret-right {
    font-size: 14px;
    color: #cca0c1;
    margin-right: 10px;
}

.block-text {
    padding: 10px 12px;
}

.block-text h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.block-text p {
    font-style: italic;
    color: #e4e4e4;
    line-height: 1.5;
    margin-bottom: 20px;
}

.block-text a {
    display: flex;
    justify-content: right;
    color: #ff8de3;
    text-decoration: underline;
    font-size: 13px;
}

.center-block {
    margin-left: 20px;
    margin-right: 10px;
    width: 730px;
}

.center-block h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.center-block p {
    line-height: 1.5;
}

.center-block p a {
    color: #ff8de3;
    text-decoration: underline;
}

.block-image {
    margin-top: 20px;
}

.images {
    display: flex;  
    justify-content: space-between;
}

.images img {
    width: 200px;
    height: 163px;
    background: #ffffff;
    border: 10px solid #697689;
    outline: none;
}
.images img::before {
    content:"Image";
}

.block-list,.forms {
    margin-top: 30px;
}

.list-items {
    display: flex;
    justify-content: space-between;
}

.list-1 {
    list-style: disc;
}

.list-1 li,.list-items ol li {
    margin:10px 0 0 20px;
}

.list-1 h3,.list-items ol h3,.list-2 h3 {
    font-size: 14px;
    font-weight: bold;
    font-size: 13px;
}

.list-items ol {
    list-style: decimal;
}

.list-2 h3 {
    margin-bottom: 9px;
}

.list-2 li {
    margin-bottom: 9px;
    font-size: 13px;
}

.table {
    margin-top: 20px;
}

table tbody {
    border-radius: 3px;
}

table th {
    background: #292e35;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 114px 5px 10px;

}

table tr {
    background: #373e47;
    font-size: 13px;
}

table tr td {
    padding: 5px 10px;
}

form {
    margin-bottom: 20px;
}

form label,.form input[type="checkbox"]  {
    display: block;
    color: #ebd4e5;
    margin-bottom: 10px;
}

form input[type="text"] {
    width: 223px; 
    height: 30px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    padding: 3px 5px;
}

#select{
    width: 233px; 
    height: 30px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    padding: 3px 5px;
    display: block;
}

#check,#rad {
    margin-right: 10px;
    vertical-align: top;
}

textarea {
    width: 303px;
    height: 124px;
    border-radius: 3px;
    resize: none;
    border: none;
    display: block;
}

button {
    background: #b56ba3;
    padding: 15px 30px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    margin-top: 15px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 13px;
}

footer a {
    color: #ff8de3;
    text-decoration: underline;
}